body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

a:hover {
    color: #D3B47F;
}

a,
button:hover {
    cursor: pointer;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    margin: -2px 0;
    word-wrap: break-word;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}


p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.up__arrow {
    display: none;
    position: sticky;
    z-index: 10;
    top: 90vh;
    left: 90vw;
    background: #3A4574;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.kenburns-top__header {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
}

.kenburns-top-right::before {
    content: "";
    width: 100%;
    height: 84vh;
    background: url("images/header/background.jpg");
    background-size: cover;
    animation: 10s kenburns-top-right .5s 1;
    position: absolute;
    z-index: 0;
}

.wijnkaart-top-right::before {
    content: "";
    width: 100%;
    height: 100vh;
    background: url("images/header/Wijnkaart.jpg");
    background-size: cover;
    animation: 10s kenburns-top-right .5s 1;
    position: absolute;
    z-index: 0;
}

.lunchmenu-top-right::before {
    content: "";
    width: 100%;
    height: 100vh;
    background: url("images/header/lunchmenuBackground.jpg");
    background-size: cover;
    animation: 10s kenburns-top-right .5s 1;
    position: absolute;
    z-index: 0;
}

@-webkit-keyframes kenburns-top-right {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 16%;
        transform-origin: 84% 16%;
    }
    50% {
        -webkit-transform: scale(1.25) translate(20px, -15px);
        transform: scale(1.25) translate(20px, -15px);
        -webkit-transform-origin: right top;
        transform-origin: right top;
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 16%;
        transform-origin: 84% 16%;
    }
}

@keyframes kenburns-top-right {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 16%;
        transform-origin: 84% 16%;
    }
    50% {
        -webkit-transform: scale(1.25) translate(20px, -15px);
        transform: scale(1.25) translate(20px, -15px);
        -webkit-transform-origin: right top;
        transform-origin: right top;
    }
    100% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 16%;
        transform-origin: 84% 16%;
    }

}

header {
    width: 100%;
    height: 84vh;
    color: #FFFFFF;
}

.container {
    margin-left: 19%;
    margin-right: 21%;
}

.navBtn {
    display: none;
}

.myLinks {
    display: none;
}

.menu__header {
    padding-top: 55px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
    margin-left: 14%;
    margin-bottom: 154px;
}

.menu__header__img {
    width: 269px;
    height: 55px;
}

.menu__header ul {
    display: flex;
    justify-content: space-between;
    margin: 20px -2% 0;
}

.menu__header li {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;
}

.menu__header li:not(:first-child) {
    padding: 0 7%;
}

.menu__header li:nth-child(1) {
    margin-left: -39%;
}

.menu-phone {
    display: flex;
    margin-right: -1%;
    margin-top: 18px;
    justify-content: space-between;
}

.menu-phone_image {
    height: 24px;
    width: 23px;
    margin-left: -4%;
    color: #FFFFFF;
}

.menu-phone_image:hover {
    color: #D3B47F;
}

.menu-phone p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: -3%;
}

.content {
    margin-left: 14%;
}

.btns {
    display: flex;
}

.reserve {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 35px 64px;
    color: #FFFFFF;
    background: #3A4574;
    margin-top: 43px;
    text-align: justify;
    white-space: nowrap;
    height: 100px;
    border: 1px solid #242a48;
    box-shadow: 0 2px 0 #1d223b, 2px 4px 6px #2f375f;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.reserve:hover {
    background: #323c61;
    border: 1px solid black;
    box-shadow: 1px 1px 2px #7c809d;
    color: #3A4574;
    text-decoration: none;
    text-shadow: -1px -1px 0 #3A4574;
    transition: all 250ms linear;
}

.btns__social {
    display: flex;
    margin-left: 53%;
    padding: 49px;
    justify-content: center;
    align-items: center;
}

.social,
.social:hover {
    background-size: 74px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 28px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 3px 7px 3px 0;
}

.social:hover {
    background: url(./images/icon/circleSocialGold.svg);
    background-repeat: no-repeat;
}

.social {
    background: url(./images/icon/circleSocialWhite.svg);
    background-repeat: no-repeat;
}

.menu {
    padding-top: 80px;
    padding-bottom: 246px;
    display: flex;
    align-items: center;
}

.menu-block__left {
    width: 41%;
    margin-top: -20px;
}

.menu-block__left h3 {
    margin-bottom: -9px;
}

.menu-block__left ul {
    padding-inline-start: 0;
}

.menu-block__left li {
    list-style: none;
    cursor: pointer;
}

.menu-block__left hr {
    margin: -2px 0 0 0;
    color: #E7E7E7;
}

.menu-left__desc {
    display: flex;
    align-items: center;
}

.menu-left__desc img {
    width: 5px;
    height: 5px;
    margin-left: 12px;
}

.menu-left__desc img:nth-child(4) {
    margin-right: 12px;
}

.menu-block__right {
    margin-left: 6%;
}

.menu-rectangle {
    border: 2px solid #D3B47F;
    width: 471px;
    height: 502px;
    background: transparent;
    top: 51px;
    left: 12%;
    position: relative;
    z-index: 0;
}

.menu-left {
    width: 16%;
    height: 45%;
    position: absolute;
    z-index: 1;
    margin-top: 169px;
    margin-left: -2%;
    -webkit-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    -moz-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    background-image: url(./images/secondPage/leftImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-right {
    width: 18%;
    height: 45%;
    position: absolute;
    z-index: 1;
    margin-left: 16%;
    margin-top: -505px;
    -webkit-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    -moz-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    background-image: url("./images/secondPage/rightImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes menuImage {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.animationMenuImage {
    animation: 5s menuImage .2s 1;
}

.animationMenuImage1 {
    animation: 5s menuImage 1s 1;
}

.descriptionPage {
    width: 100vw;
    background: #3A4574;
}

.descriptionPage .container {
    padding: 218px 0 198px;
    margin-left: 15%;
}

.quotes {
    margin: 0 47% 5%;
}

.text {
    text-align: center;
    color: #D3B47F;
}

.text p {
    text-align: center;
    color: #FFFFFF;
}

.description {
    width: 95%;
    margin-left: 5%;
    display: flex;
}

.description p {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 14%;
    margin-top: -9px;
}

.description img {
    height: 46px;
    margin-top: -17px;
}

.descriptionPage h3 {
    text-align: center;
    letter-spacing: 0.245em;
    color: #D3B47F;
    margin-top: 5%;
}

.descriptionDishes {
    padding-top: 109px;
}

.descriptionDishes .container {
    margin-left: 19.5%;
}

.descriptionDishes__voedsel,
.descriptionDishes__doel,
.descriptionDishes__sfeer {
    display: flex;
}

.descriptionDishes__voedsel > .descriptionDishes__text,
.descriptionDishes__doel > .descriptionDishes__text {
    padding-right: 4%;
    padding-top: 143px;
}

.descriptionDishes__voedsel hr,
.descriptionDishes__doel hr,
.descriptionDishes__sfeer hr {
    margin-left: -12%;
}

.descriptionDishes__voedsel img,
.descriptionDishes__doel img {
    margin-right: -2%;
}

.descriptionDishes__voedsel img,
.descriptionDishes__doel img,
.descriptionDishes__sfeer img {
    -webkit-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    -moz-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
    box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.8);
}


.descriptionDishes__text p {
    color: #808080;
    margin-top: -8px;
}

.descriptionDishes__text hr {
    width: 23%;
    height: 0px;
    border: 1px solid #D3B47F;
}

.descriptionDishes__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 88px;
    color: #000000;
    margin-bottom: -6px;
}

.descriptionDishes__sfeer {
    margin: 30px 0;
}

.descriptionDishes__sfeer > .descriptionDishes__text {
    padding-left: 30px;
    padding-top: 143px;
}

.descriptionDishes__doel {
    margin-bottom: 121px;
}

.descriptionDishes__image {
    opacity: 0;
    transform: translateY(100px);
    transition: 2000ms;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

/*слайдер*/
.sliderPage {
    background: #3A4574;
    width: 100vw;
    height: 75vh;
    padding-top: 80px;
}

.sliderPage > .container {
    margin-left: 16%;
}

.sliderPage h2 {
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 88px;
    padding-left: 5%;
    margin-bottom: 5%;
}

.sliderPage p {
    color: #FFFFFF;
    /*padding-bottom: 80px;*/
    padding-bottom: 14%;
    margin-top: -51px;
    padding-left: 5%;
}

.swiper-button-prev {
    position: static !important;
    margin-bottom: 18px;
    margin-left: 89%;
    margin-top: -225px;
    padding-bottom: 137px;
}

.swiper-button-next {
    position: static !important;
    margin-bottom: 18px;
    margin-left: 98%;
    margin-top: -156px;
    padding-bottom: 153px;
}

.swiperText > .description > .swiper-button-next {
    margin-bottom: 18px;
    margin-left: 98%;
    margin-top: -158px;
    padding-bottom: 153px;
    position: absolute !important;
}

.carousel-control-next {
    margin-right: -6vw;
}

.carousel-control-prev {
    margin-left: -6vw;
}

.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    background: transparent !important;
    border: none !important;
    opacity: 1 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #D3B47F !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100vw;
    height: 646px;
    margin: -46px -29%;

}


/* форма регистрации*/
.registration {
    display: none;
}

.header__form {
    display: flex;
    justify-content: space-between;
}

.opened {
    width: 25%;
    display: block;
    position: absolute;
    z-index: 1;
    right: 7vw;
    background: #3A4574;
    opacity: 0.8;
}

.close {
    padding: 0 10px;
    margin: 23px 3px;
}

.registration__container {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    color: #0f0f0f;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #D0D0D0;
    outline: none;
}

::placeholder {
    color: black;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #D0D0D0;
    margin-bottom: 25px;
    width: 100%;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #1e1e21;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
    transform: scale(1);
}

/* Add a blue text color to links */
/*a {*/
/*    color: dodgerblue;*/
/*}*/

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #D0D0D0;
    text-align: center;
    margin: 0 16px;
    background: rgba(255, 255, 255, 0.4);
}

._error {
    box-shadow: 0 0 15px red;
}

/*Footer*/
.contacts {
    margin-top: 351px;
}

.footer__contacts__top {
    display: flex;
}

.contacts h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 88px;
    color: #000000;
    padding-left: 2%;
}

.contacts h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2E2E2E;
}

.contacts > .container,
.map > .container,
.footer__social > .container {
    margin-left: 20%;
    margin-right: 17%;
}

.contacts__list {
    width: 39.5%;
}

.contacts__list ul {
    padding-left: 0%;
    margin-top: -8px;
}

.footer__list__img {
    background-image: url("./images/icon/circleFooter.svg");
    width: 64px;
    height: 64px;
    text-align: center;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__list__img img {
    margin-top: 30%;
}

.contacts__list li {
    align-items: center;
}

.contacts__list li:not(:last-child) {
    display: flex;
    height: 64px;
    margin-bottom: 40px;
}

.contacts__list li:first-child {
    padding-top: 7px;
}

.contacts__list li:last-child {
    display: flex;
    height: 64px;
    margin-top: 56px;
}

.footer__list__text p {
    margin-bottom: 0;
}

.contacts__form {
    margin-left: 1%;
}

.contacts__form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.contacts__form ::placeholder {
    font-weight: 400;
    font-size: 0.7em;
    line-height: 24px;
    color: #808080;
}

.footer__form-top input {
    border: 1px solid #CCCCCC;
    padding: 28px 16px;
    width: 90%;
}

.footer__form-top {
    display: flex;
    margin-top: -10px;
    margin-left: 2%;
}

.footer__form__bottom textarea {
    height: 90px;
    width: 95%;
    padding-top: 36px;
    padding-left: 14px;
    border: 1px solid #CCCCCC;
}

.footer__form__bottom {
    margin-left: 2%;
    margin-top: 2px;
}


.footer__top__input:last-child {
    margin-left: 1%;
}

.contacts__form button {
    margin-top: 20px;
    margin-left: 2%;
    padding: 5% 15%;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    background: #3A4574;
    border: 1px solid #242a48;
    box-shadow: 0px 2px 0 #1d223b, 2px 4px 6px #2f375f;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.contacts__form button:hover {
    background: #323c61;
    border: 1px solid black;
    box-shadow: 1px 1px 2px white;
    color: #3A4574;
    text-decoration: none;
    text-shadow: -1px -1px 0 #3A4574;
    transition: all 250ms linear;
}

.map {
    margin: 50px auto 40px;
}

.footer__social {
    display: flex;
}

.footer__social__menu {
    display: flex;
}

.btns__footer__social {
    display: flex;
    margin-top: -12px;
    padding: 0 0 0 51%;
    justify-content: center;
    align-items: center;
}

.btn__footer__social {
    background: url(./images/icon/circleSocial.svg);
    background-size: cover;
    background-position: center;
    line-height: 20px;
    margin: 17px 14px;
    border: none;
    height: 50px;
    width: 50px;
    color: #000;
    text-align: center;
    align-items: center;
    display: flex;
    vertical-align: bottom;
    justify-content: center;
}

.btn__footer__social:hover {
    background: url(./images/icon/circleSocialGold.svg);
}

.map__yandex {
    width: 60vw;
    height: 590px;
    margin: 0 40vw 0 0;
}


@media screen and (max-width: 1440px) {
    header {
        height: 100vh;
    }

    .kenburns-top-right::before {
        height: 100vh;
    }

    .menu {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .slider {
        margin-left: 20%;
    }

    .sliderPage p {
        padding-bottom: 10%;
    }

    .swiper-slide img {
        height: 80%;
    }

    .swiper-slide {
        height: 96%;
    }

    .container {
        margin: 0 3vw;
    }

    .content {
        margin-top: 230px;
    }

    .btns__social {
        margin-left: 53%;
        padding: 49px 0;
    }

    .menu-left,
    .menu-right {
        width: 22%;
    }

    .menu-left {
        margin-top: 253px;
        margin-left: -3%;
    }

    .menu-block__right {
        margin-left: 14%;
    }

    .descriptionPage .container {
        margin: 0 1.5vw 0 1.5vw;
    }

    .descriptionDishes .container {
        padding: 0 3%;
        margin: 0 0 0 4%;
    }

    .sliderPage .container {
        margin-left: 1%;
    }

    .contacts > .container,
    .map > .container,
    .footer__social > .container {
        margin: 0 6%;
    }

    .contacts__form {
        margin-left: 8%;
    }

    .map__yandex {
        width: 87vw;
        height: 500px;
        margin: 0 1vw 0 1vw;
    }

    .btns__footer__social {
        padding: 0 0 0 57%;
    }

    .up__arrow {
        top: 75vh;
        padding: 8px;
        width: 50px;
    }

    .footer__social > .container {
        margin: 4% 6%;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        padding-right: 5vw;
    }

    .social {
        background: url(./images/icon/circleSocialWhite.svg);
        background-repeat: no-repeat;
        background-size: 48px 48px;
        background-position: center;
    }

    .social,
    .social:hover {
        background-size: 48px;
        background-repeat: no-repeat;
        background-position: center;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        margin: 0 -17px 3px 0;

    }

    .menu-right {
        margin-left: 19%;
    }

    .footer__list__img {
        width: 58px;
        height: 51px;
        margin-right: 36px;
        align-items: center;
        vertical-align: middle;
        background-size: 58px 51px;
    }

    .footer__list__img img {
        margin-top: 24%;
        width: 20px;
        height: 22px;
    }

    .btns__footer__social {
        padding: 0 0 0 54%;
    }

    .btns__social {
        margin-left: 59%;
    }
}

@media screen and (max-width: 1330px) {
    .menu__header ul {
        margin: 20px 14% 0;
    }

    .menu-left, .menu-right {
        width: 30%;
    }

    .descriptionPage .container {
        margin: 0 1.5vw 0 4.5vw;
    }

    .descriptionDishes .container {
        margin: 0 0 0 6%;
    }

    .social, .social:hover {
        background-size: 44px;
        font-size: 14px;
    }

    h1 {
        font-size: 60px;
    }

    .btns__social {
        margin-left: 54%;
    }

    .btn__footer__social {
        height: 44px;
        width: 44px;
    }

    .footer__list__img {
        width: 81px;
        height: 56px;
        background-size: 51px 52px;
        margin-right: 0;
    }

    .footer__list__text {
        margin-left: 20px;
    }

    .contacts__list li {
        width: 40vw;
    }

    .footer__list__img img {
        margin-top: 19%;
    }
}

@media screen and (max-width: 1260px) {
    .container {
        padding-right: 9vw;
    }

    .menu-phone {
        margin-right: -9%;
    }

    .btns__social {
        margin-left: 60%;
    }

    .descriptionPage .container {
        margin: 0px 1.5vw 0 2.5vw;
    }

    .descriptionDishes__voedsel img,
    .descriptionDishes__doel img,
    .descriptionDishes__sfeer img {
        width: 45%;
    }

    .descriptionDishes__voedsel img, .descriptionDishes__doel img {
        margin-right: 2%;
    }

    .descriptionDishes__voedsel > .descriptionDishes__text, .descriptionDishes__doel > .descriptionDishes__text {
        padding-top: 0;
    }

    .descriptionDishes__voedsel, .descriptionDishes__doel, .descriptionDishes__sfeer {
        align-items: center;
    }

    .contacts__form {
        margin-right: -9%;
    }

    .map__yandex {
        width: 84vw;
    }

    .menu-block__right {
        margin-top: -13vh;
    }

    .menu {
        padding-top: 130px;
        padding-bottom: 130px;
    }

}

@media screen and (max-width: 1199px) {
    .container {
        padding-right: 0;
        margin: 0 5vw;
    }

    .content h3 {
        margin-top: 214px;
    }

    .descriptionPage .container {
        margin: 0 1.5vw 0 1vw;
        max-width: 92vw;
    }

    .menu__header ul {
        margin: 20px 0 0 8%;
    }

    .menu-phone p {
        margin-right: 0;
    }

    .descriptionDishes .container {
        margin: 0 0 0 5%;
        max-width: 92vw;
    }

    .btns__social {
        margin-left: 55%;
    }

    .btns__footer__social {
        padding: 0 0 0 40vw;
    }

    .contacts__form {
        margin-right: -11%;
    }

}

@media screen and (max-width: 1100px) {
    .menu__header__img {
        width: 170px;
        height: 38px;
    }

    .menu-phone {
        margin-right: 0;
    }

    .btns__social {
        margin-left: 45%;
    }

    h1 {
        font-size: 48px;
    }

    .quotes {
        width: 70px;
    }

    .menu-block__right {
        padding: 0 20px;
    }

    .swiper-slide img {
        height: 70%;
    }

    .swiper {
        margin: -100px -29%;
    }

    .contacts {
        margin-top: 250px;
    }

    .contacts__form {
        margin-right: -3%;
    }

    .contacts h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .btns__footer__social {
        padding: 0 0 0 46vw;
    }

    .footer__logo img {
        width: 170px;
    }

}

@media screen and (max-width: 1024px) {
    .menu__header {
        margin-left: 3%;
    }

    .content {
        margin-left: 5%;
    }

    .btns__social {
        margin-left: 43%;
    }

    .menu {
        margin-left: 6%;
        margin-right: 0;
    }

    .menu-rectangle {
        width: 371px;
        height: 402px;
        left: 12%;
    }

    .menu-right {
        width: 24%;
        margin-left: 21%;
        margin-top: -413px;
    }

    .menu-left {
        width: 25%;
    }

    .menu-block__right {
        margin-left: 5%;
    }

    .descriptionPage .container {
        margin-left: 0;
        padding: 144px 0 198px;
    }

    .description {
        width: 95%;
        margin-left: 7%;
    }

    .descriptionPage {
        /*height: 85vh;*/
        height: auto;
    }


    .descriptionDishes__voedsel img,
    .descriptionDishes__doel img,
    .descriptionDishes__sfeer img {
        width: 50%;
    }

    .descriptionDishes .container {
        margin-left: 0;
        padding-left: 15%;
    }

    .sliderPage > .container {
        margin-left: 0%;
    }

    .sliderPage {
        height: 474px;
        margin-top: -32px;
        padding-top: 66px;
    }

    .swiper-backface-hidden .swiper-slide {
        height: 475px;
    }

    .contacts > .container,
    .map > .container,
    .footer__social > .container {
        margin-left: 4%;
        margin-right: 0;
    }

    .contacts__form {
        margin-right: 0;
    }

    .footer__list__img {
        border-radius: 50%;
        width: 71px;
        height: 54px;
    }

    .footer__form-top input {
        margin: 0;
    }

    .addr {
        width: 23%;
    }

    .map__yandex {
        width: 89vw;
    }

    .btns__footer__social {
        padding: 0 0 0 50%;
    }
}

@media screen and (max-width: 991px) {
    .menu-phone {
        margin-right: -20%;
    }

    .btns__social {
        margin-left: 45%;
    }

    .menu {
        margin-left: 15%;

    }

    .menu-block__left {
        width: 50%;
        margin-right: -4vw;
    }

    .menu-block__left {
        width: 50%;
        margin-left: -82px;
    }

}

@media screen and (max-width: 890px) {
    .menu__header {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 9vh;
    }

    .menu__header ul {
        margin: 20px 0 0 13%;
        padding: 10px 2rem;
    }

    .menu-phone p {
        margin-right: 27px;
    }

    .menu__header__img {
        margin-top: 8px;
    }

    .content h3 {
        margin-top: 27vh;
    }

    .descriptionDishes__sfeer > .descriptionDishes__text {
        padding-left: 30px;
        padding-top: 23px;
    }

    .swiper-button-prev {
        padding-bottom: 181px;
    }

    .swiper-button-next {
        margin-top: -200px;
        padding-bottom: 197px;
    }

    .contacts__list {
        width: 40%;
    }

    .footer__contacts__top {
        width: 98vw;
    }

    .contacts__form {
        margin-left: 0;
        margin-right: 0;
        width: 57%;
    }

    .btns__social {
        margin-left: 25%;
    }

}

@media screen and (max-width: 768px) {
    .menu__header {
        margin-bottom: 95px;
    }

    .menu__header__img {
        width: 134px;
        height: 27px;
    }

    .menu__header ul {
        margin: 2px 13vw 0;
        width: 56vw;
    }


    a {
        font-weight: 400;
        font-size: 12px;
    }

    .menu-phone_image {
        height: 12px;
        width: 12px;
        margin-left: -8%;
    }

    .menu-phone {
        margin-top: 7px;
        margin-left: 1%;
    }

    .menu-phone p {
        font-size: 12px;
        line-height: 11px;
    }

    .menu__header li:not(:first-child) {
        padding: 0 0;
    }

    .menu__header {
        margin-left: 5%;
    }

    .content {
        margin-left: 3%;
    }

    .content h3 {
        margin-top: 27vh;
    }

    h3 {
        font-size: 20px;
    }

    h1 {
        font-size: 39px;
        line-height: 63px;
    }

    p {
        font-size: 12px;
        line-height: 25px;
    }

    .reserve {
        font-weight: 500;
        font-size: 12px;
        padding: 19px 34px;
        height: 65px;
    }

    .btns__social {
        margin-left: 18%;
    }

    .menu {
        padding-bottom: 80px;
    }

    .menu.container {
        margin-left: 15%;
    }

    .menu-rectangle {
        width: 215px;
        height: 312px;
        top: 15px;
    }

    .menu-right {
        width: 28%;
        margin-left: 11%;
        margin-top: -338px;
        height: 33%;
    }


    .menu-left {
        width: 27%;
        height: 33%;
        margin-top: 164px;
        margin-left: -3%;
    }

    .menu-block__left {
        width: 54%;
    }

    .menu-left__desc p {
        margin-top: 17px;
    }

    .descriptionPage .container {
        padding: 161px 0 80px;
        margin-left: 1%;
    }

    .description p {
        font-size: 12px;
        line-height: 33px;
        padding: 0 11%;
    }

    .quotes {
        height: 30px;
        width: 50px;
    }

    .descriptionPage h3 {
        font-size: 18px;
    }

    .carousel-item {
        margin-top: 40px;
    }

    .descriptionDishes__voedsel img,
    .descriptionDishes__doel img,
    .descriptionDishes__sfeer img {
        width: 45%;
        height: 45%;
    }

    .descriptionDishes__title {
        font-size: 28px;
        line-height: 38px;
        margin-top: -107px;
    }

    .descriptionDishes .container {
        margin-left: 2%;
        padding-top: 4vh;
    }


    .descriptionDishes__voedsel > .descriptionDishes__text,
    .descriptionDishes__doel > .descriptionDishes__text {
        width: 48%;
    }

    .descriptionDishes__sfeer {
        margin: 100px 0;
    }

    .descriptionDishes__text {
        margin-top: 120px;
    }

    .descriptionDishes {
        padding-top: 80px;
    }

    .sliderPage > .container {
        margin-left: -2%;
    }

    .sliderPage {
        height: 407px;
    }


    .sliderPage h2 {
        font-size: 28px;
        padding-left: 6%;
    }

    .sliderPage p {
        padding-left: 7%;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        font-size: 30px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        font-size: 30px;
    }

    .swiper {
        height: 323px;
        margin: -53px -19%;
    }

    .contacts__list {
        width: 47%;
        padding-left: 6vw;
    }


    .contacts__form {
        width: 50%;
    }

    .contacts > .container {
        margin-left: 0;
    }

    .contacts h2 {
        font-size: 28px;
        line-height: 57px;
    }

    .contacts h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .contacts__form label {
        font-size: 12px;
        line-height: 20px;
    }

    .footer__form-top input {
        padding: 12px 16px;
    }

    .footer__form__bottom textarea {
        height: 47px;
        width: 95%;
        padding-top: 10px;
    }

    .footer__list__img {
        width: 48px;
        height: 48px;
    }

    .footer__list__img img {
        margin-top: 21%;
        width: 45%;
    }

    .contacts__list li:not(:last-child) {
        margin-bottom: 7px;
    }

    .contacts__list li:last-child {
        margin-top: 17px;
        width: 48vw;
    }

    .footer__form-top {
        margin-top: 0;
    }

    .footer__form__bottom {
        margin-top: 22px;
    }

    .map img {
        width: 97%;
    }

    .map > .container {
        margin-left: 5%;
    }

    .footer__social > .container {
        margin-left: 5%;
    }

    .footer__logo img {
        width: 134px;
        height: 27px;
    }

    .btn__footer__social {
        width: 39px;
        height: 39px;
        font-size: 12px;
        padding: 9px 10px;
    }

    .btns__footer__social {
        padding: 0 0 0 44%;
    }

}

@media screen and (max-width: 675px) {
    .menu-block__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 100px 0 0 70px;
    }

    .menu-right {
        width: 41%;
        margin-left: 5%;
        margin-top: -338px;
        z-index: 0;
    }

    .menu-left {
        width: 41%;
        height: 33%;
        margin-top: 253px;
        margin-left: 6%;
        z-index: 0;
    }

    .menu-rectangle {
        z-index: 1;
        left: 8%;
    }

    .descriptionDishes__voedsel,
    .descriptionDishes__doel,
    .descriptionDishes__sfeer {
        align-items: center;
        display: flex;
        width: 90vh;
    }

    .descriptionDishes__voedsel,
    .descriptionDishes__doel {
        flex-direction: column;
    }

    .descriptionDishes__sfeer {
        flex-direction: column-reverse;
    }

    .descriptionDishes__voedsel img, .descriptionDishes__doel img,
    .descriptionDishes__sfeer img {
        width: 82%;
        height: 82%;
    }

    .descriptionDishes .container {
        margin-left: -17%;
    }

    .descriptionDishes__text {
        width: 70%;
        text-align: center;
        padding-bottom: 20px;

    }

    .descriptionDishes__voedsel > .descriptionDishes__text,
    .descriptionDishes__doel > .descriptionDishes__text {
        width: 75%;
    }

    .descriptionDishes__voedsel hr, .descriptionDishes__doel hr,
    .descriptionDishes__sfeer hr {
        margin-left: 41%;
    }

    .swiper-slide img {
        height: 100%;
        /*width: auto;*/
    }

    .swiper {
        height: 377px;
        margin: -1px -19%;
    }

    .sliderPage {
        height: 504px;
        padding-top: 112px;
    }

    .map > .container {
        margin-left: 2.5%;
    }

    .addr {
        width: 57px;
    }

    .footer__list__img img {
        margin-top: 19%;
    }

    .clock {
        width: 52px;
        height: 52px;
    }

    .clock img {
        margin-top: 27%;
    }

    .footer__social__menu {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .btns__footer__social {
        padding: 0 0 0 0;
    }

}

@media screen and (max-width: 630px) {
    .menu.container {
        margin-left: -6%;
        flex-direction: column;
        align-items: center;
    }

    .menu-block__left {
        width: 100%;
        margin: -80px -23vw 0 0;
    }

    .menu-block__right {
        display: flex;
        flex-direction: row;
        padding: 0 0 0 0;
        align-items: center;
        margin: 49px 0;
    }

    .menu-left {
        width: 41%;
        height: 33%;
        margin-top: 2%;
        margin-left: -20%;
        z-index: 0;
    }

    .menu-right {
        width: 41%;
        margin-left: 70%;
        margin-top: -62px;
        z-index: 0;
    }

    .menu-rectangle {
        left: 32%;
        width: 237px;
        height: 214px;
        top: -11px;
    }

}

@media screen and (max-width: 540px) {
    .content {
        margin-left: 0;
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btns__social {
        margin-left: 0;
    }

    .menu__header ul {
        margin: 2px 10% 0;
        width: 56vw;
    }

    h1 {
        font-size: 30px;
        line-height: 49px;
    }

    .menu.container {
        margin-left: -13%;
    }

    .menu-block__left {
        width: 91%;
        margin: -80px 5vw 0 30vw;
    }

    .descriptionDishes .container {
        margin: 0 0 0 -25vw;
        width: 95vw;
    }

    .descriptionDishes__voedsel img, .descriptionDishes__doel img,
    .descriptionDishes__sfeer img {
        width: 50%;
        height: 70%;
        margin-left: -2vw;
    }

    .sliderPage > .container {
        padding: 0 7vw 0 2vw;
    }

    .footer__contacts__top {
        width: 100vw;
        flex-direction: column;
    }

    .contacts__list {
        width: 98vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__list ul {
        width: 100%;
    }

    .clock {
        width: 70px;
        height: 52px;
    }

    .addr {
        width: 76px;
    }

    .contacts h3 {
        white-space: nowrap;
    }

    .footer__list__img img {
        width: 49px;
    }

    .contacts__form {
        width: 91vw;
        margin-left: 4vw;
    }
}

@media screen and (max-width: 480px) {
    /*Navbar*/
    .navBtn {
        display: block;
        width: 25px;
        height: 25px;
    }

    .menu__header ul,
    .menu-phone {
        display: none;
    }

    .topnav {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10%;
    }

    .myLinks {
        display: none;
        background-color: rgba(73, 83, 106, 0.8);
        padding: 5px;
    }

    .menu__header__img {
        width: 80px;
        height: 16px;
    }

    .menu__header {
        margin-left: 5%;
        flex-direction: initial;
    }

    .descriptionDishes .container {
        margin: 0 0 0 -18vw;
        width: 96vw;
        padding-left: 0;
    }

    .descriptionDishes__voedsel > .descriptionDishes__text,
    .descriptionDishes__doel > .descriptionDishes__text {
        width: 65%;
    }

    .descriptionDishes__text {
        width: 64%;
        padding-left: 0;
    }

    .descriptionDishes__sfeer > .descriptionDishes__text {
        padding-left: 0;
        padding-right: 23px;
    }
}

@media screen and (max-width: 425px) {
    header {
        height: auto;
    }

    .kenburns-top-right::before {
        height: 70vh;
    }


    .container {
        width: 94%;
    }

    .content {
        margin-right: 0;
        margin-left: 5%;
    }

    a {
        font-size: 13px;
    }

    h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 37px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
        line-height: 23px;
    }

    .reserve {
        font-weight: 500;
        font-size: 15px;
        padding: 7px 41px;
        margin-top: 28px;
        height: 70px;
    }

    .opened {
        width: 94%;
        right: 3%;
        left: 3%;
    }

    .content h3 {
        margin-top: 11vh;
    }

    .btns {
        display: block;
    }

    .btns__social {
        display: flex;
        margin-left: -3%;
        padding: 0;
        justify-content: flex-start;
    }

    .social {
        padding: 15px 19px;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        margin: 20px 6px;
    }

    .menu-block__right {
        display: none;
    }

    .menu-block__left {
        width: 94%;
    }

    .menu-left__desc {
        display: block;
    }

    .menu-block__left li p {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .menu.container {
        margin-left: -21%;
        padding-bottom: 80px;
        margin-top: 80px;
        align-items: flex-start;
    }

    .menu hr {
        width: 88%;
    }

    .descriptionPage {
        height: auto;
    }

    .descriptionDishes .container {
        margin: 0 0 0 -20vw;
        width: 96vw;
    }

    .descriptionDishes__voedsel,
    .descriptionDishes__doel,
    .descriptionDishes__sfeer {
        width: 82vh;
    }

    .descriptionDishes__voedsel > .descriptionDishes__text,
    .descriptionDishes__doel > .descriptionDishes__text {
        width: 80vw;
    }

    .descriptionDishes__sfeer > .descriptionDishes__text {
        width: 80vw;
    }


    .carousel-control-next,
    .carousel-control-prev {
        width: 9%;
    }

    .quotes {
        width: 10%;
        margin: 0 45% 5%;
    }

    .swiper-slide img {
        width: 92%;
    }

    .sliderPage {
        height: 480px;
        padding-top: 85px;
    }

    .slider {
        margin-left: 17%;
    }

    .swiper-button-next {
        margin-top: -63px;
        padding-bottom: 0;
    }

    .swiper-button-prev {
        margin-top: -49px;
        padding-bottom: 0;
    }

    .sliderPage h2 {
        margin: -19% 0 11%;
    }

    .footer__contacts__top {
        display: block;
    }

    .contacts {
        background-color: #242a48;
        margin-top: 220px;
        padding: 65px 0;
    }

    .contacts__list li {
        width: 100%;
    }

    .contacts p,
    .contacts label {
        color: #ffffff;
    }

    .contacts h2 {
        color: #ffffff;
    }


    .contacts__list li:last-child {
        width: 100vw;
    }

    .contacts h3 {
        white-space: initial;
    }

    .clock {
        width: 13%;
    }

    .contacts__list li:last-child {
        width: 69vw;
    }

    .contacts h3 {
        color: #ffffff;
    }

    .contacts__form {
        padding-top: 65px;
    }

    .map > .container img {
        width: 100%;
        margin-left: -5%;
    }

    .footer__logo img {
        width: 100%;
    }

    .btns__footer__social {
        padding: 0 0 0 0;
    }

    .btn__footer__social {
        padding: 8px 8px;
        font-size: 11px;
        line-height: 14px;
    }

    .footer__form-top {
        display: flex;
        margin-top: -10px;
        margin-left: 0;
        flex-direction: column;
    }

    .footer__form-top input {
        padding: 12px 16px;
        width: 95%;
    }

    .footer__top__input {
        margin: 24px 0;
    }

    .btns__footer__social {
        padding: 20px 0;
        justify-content: flex-start;
    }

    .btn__footer__social {
        padding: 8px 8px;
        font-size: 12px;
        line-height: 14px;
        margin: 17px 3px;
        width: 30px;
        height: 30px;
    }

    .footer__social__menu {
        align-items: flex-start;
    }

    .up__arrow {
        top: 90vh;
    }
}

@media screen and (max-width: 340px) {
    .menu__header {
        margin-bottom: 0;
        padding-top: 4vh;
    }

    .menu.container {
        margin-left: -21%;
        padding-bottom: 40px;
        margin-top: 20px;
        align-items: flex-start;
    }

    .content h3 {
        margin-top: 5vh;
    }

    .kenburns-top-right::before {
        height: 60vh;
    }

    .descriptionPage .container {
        padding: 50px 0 60px;
    }

    .quotes {
        height: 23px;
    }

    .descriptionDishes {
        padding-top: 30px;
    }

    .descriptionDishes__voedsel,
    .descriptionDishes__doel,
    .descriptionDishes__sfeer {
        width: 70vh;
    }

    .contacts__list {
        width: 100vw;
        align-items: flex-start;
        margin-left: -20px;
    }

    .clock {
        width: 16%;
    }

    .contacts__form {
        margin-left: 0;
    }

    .up__arrow {
        padding: 6px;
        width: 39px;
    }
}

@media screen and (max-width: 260px) {
    h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .content h3 {
        font-size: 14px;
    }

    .social {
        background-size: 33px 33px;
        padding: 9px 11px;
        font-size: 12px;
        line-height: 15px;
        margin: 14px 3px;
    }

    .quotes {
        height: 18px;
    }

    .descriptionDishes__voedsel img,
    .descriptionDishes__doel img,
    .descriptionDishes__sfeer img {
        width: 35%;
        height: 70%;
        margin-left: 2vw;
    }

    .descriptionDishes .container {
        margin: 0 0 0 -49vw;
    }

    .footer__list__img {
        width: 39px;
        height: 39px;
    }

    .footer__list__img img {
        width: 40%;
        margin-top: 13%;
    }

    .clock {
        width: 19%;
        height: 63%;
        padding-top: 1px;
    }

    .addr {
        width: 26%;
    }

    .contacts__list li:last-child {
        width: 93vw;
    }

    .map__yandex {
        width: 84vw;
        height: 230px;
    }

    .map {
        margin: 18px auto 0;
    }

    .btns__footer__social {
        padding: 0 0;
        margin: 0;
    }

}












